@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust to the appropriate value */
  }
}
.slide-animation {
  display: flex;
  column-gap: 18.5px;
  animation: slide 25s linear infinite;
}
.paused {
  animation-play-state: paused;
}
